.logo {
    height: 50px;
}

.navbar{
    background-color: black !important;
}

.navbar-form {
    display: flex;
    gap: 10px;
}

.navbar .nav-link{
    color: white !important;
}

.nav-link:hover{
    color:darkgrey !important;
}

.header-image{
    height: 80%;
}

.workExperience-image{
    height: 20%;
}

.text {
    text-align: justify;
}

body{
    background-color: black;
    color: white;
}